.outerBox{
    height: fit-content;
    width: 350px;
    background-color: black;
    margin-left: 40%;
    border-radius: 10px;
    margin-top: 10%;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgb(33, 33, 33);
}

.key-row{
    display: flex;
    align-content: space-around;
}

.keyStandard, .operator, .decimal, .clearAll, .bracket, .equals{
    height: 60px;
    width: 60px;
    background-color: #222222;
    flex: 1;
    border-radius: 10px;
    margin: 1%;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}

#displayPane{
    height: 100px;
    text-align: right;
    padding-top: 30px;
    padding-right: 20px;
    font-size: 60px;
    overflow-x: scroll;
    /*margin-right: 0px;*/
    
}

.keyStandard, .operator, .decimal, .clearAll, .bracket, .equals{
    cursor: pointer;
    box-shadow: 3px 3px;
}

.equals{
    box-shadow: 3px 3px rgb(130, 204, 20);
}

#operatorSymbol{
    color: aliceblue;
    /*border: 2px red solid;*/
    font-size: 30px;
    text-align: left;
    padding-left: 10px;

}